* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hei_item {
  height: 470px;
  margin-bottom: 30px;
}
.card-body {
  height: 150px;
}
.card-text {
  font-weight: 600;
}

.btn_item {
  position: absolute;
  bottom: 15px;
  right: 10px;
  padding-right: 4px;
  padding-left: 4px;
}
.tag {
  background: green;
  height: 35px;
  position: absolute;
  padding: 5px;
  max-width: 120px;
  opacity: 0.9;
  font-weight: 500;
}
.container {
  background-color: rgb(197, 197, 197);
  margin-top: 20px;
  padding: 10px;
}

.date_item {
  position: absolute;
  bottom: 0px;
  left: 20px;
}
.img_hei {
  height: 320px;
  max-width: 258px;
}
.tit {
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  font-size: 50;
}
.dt {
  font-weight: bold;
}
dl {
  margin-left: 25px;
}
span {
  font-size: 25;
}
.content {
  background-color: rgb(85, 85, 85);
  padding: 5px;
  margin-right: 20px;
  border: solid 2px black;
  height: 685px;
  overflow: auto;
}
.content_detail {
  margin-left: 20px;
  margin-top: 35px;
}
.ls_actor {
  border: solid 2px gray;
  margin: 5px;
}
.actor {
  border: solid 1px gray;
}

.review {
  border: solid 2px gray;
  margin: 5px;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}
